* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(217, 217, 217);
}

@font-face {
    font-family: fuente1;
    src: url("../assets/fonts/NotoSans.ttf");
}
@font-face {
    font-family: fuente2;
    src: url("../assets/fonts/MerriweatherSans.ttf");
}
header {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100%;
    text-align: center;
}
.logo img {
    width: 8rem;
}

/* TITULO */
.principal {
    display: grid;
    width: 100%;
    margin: auto;
    position: relative;
    margin-bottom: -10%;
    grid-template-columns: repeat(6, 16.6%);
    grid-template-rows: repeat(2, 15rem);
}

.foto_principal {
    grid-column: 1/5;
    grid-row: 1/3;
}
.foto_principal img {
    width: 100%;
    height: 100%;
}
.titulo {
    background-color: rgb(24, 45, 152);
    border-radius: 250px 0 0 250px;
    grid-column: 4/7;
    grid-row: 1/3;
    justify-content: center;
}
.titulo h1, .titulo h2 {
    font-family: fuente2;
    font-size: 4rem;
    color: rgb(248, 117, 22);
    text-align: center;
    padding-top: 10%;
}
.titulo h2 {
    font-size: 3.5rem;
    color: white;
    padding-top: 8%;
}
/***** INVENTARIO ******/
.ingreso {
    width: 100%;
    height: auto;
    display: grid;
    gap: 10%;
    margin: 15rem 0 10rem;
    grid-template-columns: repeat(2, 30rem);
    grid-template-rows: repeat(3, 10rem);
    position: relative;
    justify-content: center;
}
.ingreso button {
    background-position: center;
    background-size: cover;
    font-family: fuente2;
    font-size: 2rem;
    color: white;
    padding-left: 50%;
}
.ingreso button:first-child {
    background-image: url("../assets/img/nuevo.PNG");
    grid-column: 1/2;
    grid-row: 1/2;
}
.ingreso button:nth-child(2) {
    background-image: url("../assets/img/modificar.PNG");
    grid-column: 2/3;
    grid-row: 1/2;
}
.ingreso button:nth-child(3) {
    background-image: url("../assets/img/buscar.png");
    grid-column: 1/2;
    grid-row: 2/3;
}
.ingreso button:nth-child(4) {
    background-image: url("../assets/img/baja.PNG");
    grid-column: 2/3;
    grid-row: 2/3;
}
.ingreso button:nth-child(5) {
    background-image: url("../assets/img/exportar.PNG");
    grid-column: 1/2;
    grid-row: 3/4;
}
.ingreso button:last-child {
    background-image: url("../assets/img/salir.PNG");
    grid-column: 2/3;
    grid-row: 3/4;
}
.ingreso button:active {
    transform: scale(1.1);
    filter: drop-shadow(3px 3px 3px gray);
    align-content: center;
}

footer {
    background-color: rgb(24, 45, 152);
}
footer p {
    color: white;
    font-family: fuente2;
    font-size: 1.8rem;
    text-align: center;
    padding: 2%;
}

/***** RESPONSIVO ******/
/*
@media (max-width: 2560px) {
    .ingreso {
    margin: 20rem 0 5rem;
    gap: 4rem 20rem;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: repeat(4, 10rem);
    }
    .ingreso button {
    font-size: 1.4rem;
    }
}

@media (max-width: 1440px) {
    .ingreso {
    gap: 4rem;
    margin: 15rem 0 5rem;
    grid-template-columns: repeat(3, 21rem);
    grid-template-rows: repeat(4, 9rem);
    }
    .ingreso button {
    font-size: 1.4rem;
    }
}
@media (max-width: 1280px) {
    .ingreso {
    gap: 4rem;
    margin: 11rem 0 5rem;
    grid-template-columns: repeat(3, 18rem);
    grid-template-rows: repeat(4, 6rem);
    }
    .ingreso button {
    font-size: 1.2rem;
    }
}

@media (max-width: 1024px) {
    .ingreso {
    gap: 4rem;
    margin: 10rem 0 5rem;
    grid-template-columns: repeat(3, 18rem);
    grid-template-rows: repeat(4, 6rem);
    }
    .ingreso button {
    font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .principal {
        grid-template-rows: repeat(2, 6rem);
    }
    .titulo h1, .titulo h2 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    .ingreso {
    gap: 3rem;
    margin: 10rem 0 5rem;
    grid-template-columns: repeat(3, 18rem);
    grid-template-rows: repeat(4, 6rem);
    }
    .ingreso button {
    font-size: 1rem;
    }
    footer p {
        font-size: 0.8rem;
        padding: 2%;
    }
}

*/